#outer {
    width: 40%;
    padding: 1em;
    margin: 1em auto;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn {
    display: flex;
    justify-content: center;
    gap: 2em;
}

button {
    padding: .5em;
    border: none;
    border-radius: 12px;
    padding: .8em;
    min-width: 120px;
}

#callStatus {
    margin: 1em 2em;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.accepted {
    background-color: lightgreen;
}

.declined {
    background-color: lightcoral;
}

.message {
    background-color: lightyellow;
}